body {
  display: flex;
  & h1 {
    font-size: 10vw;
  }
}
nav {
  & img {
    width: 10vw;
  }
  & ul {
    &.hidden {
      visibility: hidden;
    }
    & li {
      list-style-type: none;
      width: 30vw;
      height: 3vw;
      display: flex;
      flex: column;
      font-size: 2vw;
      padding-top: 0.5em;
      padding-left: 1em;
      &.Red {
        background-color: red;
      }
      &.Orange {
        background-color: orange;
      }
      &.Purple {
        background-color: purple;
      }
      &.Green {
        background-color: green;
      }
    }
  }
}
